{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h2>Players</h2>
    <div>
        <ul>
        {% for player in players %}
            <li><a> {{ player }}</a></li>
           {#<li> <a href="{{ path('player',{'country':country}) }}">{{ player }}</a> </li>#}
        {% endfor %}
        </ul>
    </div>
     <h2>Coaches</h2>
    <div>
        <ul>
        {% for coach in coaches %}
            <li><a > {{ coach }}</a></li>
           {#<li> <a href="{{ path('coach',{'country':country.name}) }}">{{ coach }}</a> </li>#}
        {% endfor %}
        </ul>
    </div>
    {#<div>Coach: <a href="{{ path('coach', {'country': team.code}) }}"> {{ team.coach.name }}</a></div>#}
    {#<div>#}
        {#<ul>#}
        {#{% for game in team.games %}#}
            {#<li>{{ game.name }}: {{ game.score }}</li>#}
        {#{% endfor %}#}
        {#</ul>#}
    {#</div>#}
{% endblock %}