{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h2>Players is {{ team.country }} team:</h2>
    <div>
        <ul>
        {% for player in players %}
           <li> <a href="{{ path('player', {'country': player.country, 'id': player.id}) }}"> {{ player.name }} </a> </li>
        {% endfor %}
        </ul>
    </div>
     <h2>Coaches is {{ team.country }} team:</h2>
    <div>
        <ul>
        {% for coach in coaches %}
            <li><a href="{{ path('coach',{'country':coach.country, 'id': coach.id }) }}"> {{ coach.name }} </a></li>
        {% endfor %}
        </ul>
    </div>
   <h2>Games is {{ team.country }}:</h2>
    <div>
        <ul>
            {{ team.country }} - {{ team.countryGame }}  {{ team.score }}
        </ul>
    </div>
{% endblock %}