{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1> Games </h1>
    <div class="count">
        All games - {{ pagination.getTotalItemCount }}
        <hr>
    </div>
    <div>
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <hr>
    {% for game in pagination %}
        {% for team in game.teams %}
           <p> {{ team.country.name }}</p>
        {% endfor %}
        {{ game.score }}
        <hr>
    {% endfor %}

    <div class="navigation">
    {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}