{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    {% for country in countries %}
        <div>
            <a href="{{ path('country', {'id': country.id}) }}"><img src="{{ country.flag }}"></a>
            <a href="{{ path('team', {'id': country.team.id}) }}">{{ country.name }}</a>
        </div>
    {% endfor %}
        <div>
            <a href="{{ path('game') }}">Games</a>
        </div>
    <form action="{{ path('search') }}">
  <p><b>Seach player</b></p>
  <p><input type="text" name="name">
  <p><input type="submit"></p>
 </form>
{% endblock %}