{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    {#{{ dump(app ) }}#}
    <a href="{{ path('generator') }}">Generate information</a>
    {% for key in country %}
        <div>
            {#<a href="{{ path('country', {'name': country.name}) }}"><img src="{{ country.flag }}"></a>#}
            {#<a href="{{ path('team', {'name': country.name}) }}">{{ country.name }}</a>#}
       {{ country }}
        </div>
    {% endfor %}
{% endblock %}