{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <a href="{{ path('generator') }}">Generate information</a>
    {% for country in countries %}
        <div>
            <a href="{{ path('country', {'name': country.name}) }}"><img src="{{ country.flag }}"></a>
            <a href="{{ path('team', {'name': country.name}) }}">{{ country.name }}</a>
        </div>
    {% endfor %}
{% endblock %}