{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    {#{{ dump(app ) }}#}
    <a href="{{ path('generator') }}">Generate information</a>
    {% for country in countries %}
        <div>
            <a href="{{ path('country', {'name': country}) }}"><img src="{{ img }}"></a>
            <a href="{{ path('team', {'name': country}) }}">{{ country }}</a>
        </div>
    {% endfor %}
{% endblock %}