{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    {% for country in countries %}
        <div>
            <a href="{{ path('country', {'id': country.id}) }}"><img src="{{ country.flag }}"></a>
            <a href="{{ path('team', {'id': country.team.id}) }}">{{ country.name }}</a>
            <a href="{{ path('country_edit', {'id': country.id}) }}">Edit</a>
            <a href="{{ path('country_delete', {'id': country.id}) }}">Delete</a>
        </div>
    {% endfor %}
    <hr>
    <div>
        <a href="{{ path('country_create') }}">Add country</a>
    </div>
    <div>
            <h2><a href="{{ path('game') }}">Games UERO 2016</a></h2>
    </div>
    <form action="{{ path('search') }}">
    <p><b>Seach player:</b></p>
    <p><input type="text" name="name">
    <p><input type="submit"></p>
    </form>
{% endblock %}